# SPDX-FileCopyrightText: 2021-2022 Citadel and contributors.
#
# SPDX-License-Identifier: GPL-3.0-or-later

[Application Options]
alias=ipv6🍋@wuerges.xyz🐍🌍⚡
color=#ffff00
listen=
rpclisten=0.0.0.0:10009
restlisten=0.0.0.0:8080
accept-keysend=true
tlsextraip={{APP_LND_SERVICE_IP}}
tlsextraip=[::1]
tlsextradomain={{DEVICE_HOSTNAME}}.local
tlsextradomain={{DEVICE_HOSTNAME}}
tlsextradomain=*.{{DEVICE_HOSTNAME}}
externalhosts={{DEVICE_HOSTNAME}}
tlsautorefresh=1
tlsdisableautofill=1
{% set mainnet = "mainnet" %}
{% if BITCOIN_NETWORK == mainnet %}
feeurl=https://nodes.lightning.computer/fees/v1/btc-fee-estimates.json
{% endif %}
wallet-unlock-password-file=/walletpassword
wallet-unlock-allow-create=true
gc-canceled-invoices-on-startup=true
gc-canceled-invoices-on-the-fly=true
accept-amp=true

;IPV6 wuerges FC

sync-freelist=true
stagger-initial-reconnect=1
ignore-historical-gossip-filters=1
max-cltv-expiry=5000
routerrpc.attemptcost=10
routerrpc.attemptcostppm=10
routerrpc.maxmchistory=10000
routerrpc.minrtprob=0.005
numgraphsyncpeers=100
max-channel-fee-allocation=1.0
maxpendingchannels=10
; rpcmiddleware.enable=true

; If true, lnd will start the Prometheus exporter. Prometheus flags are 
; behind a build/compile flag and are not available by default. lnd must be built 
; with the monitoring tag; `make && make install tags=monitoring` to activate them.
prometheus.enable=true

; Specify the interface to listen on for Prometheus connections.
prometheus.listen=0.0.0.0:8989

; If true, then we'll export additional information that allows users to plot
; the processing latency, and total time spent across each RPC calls+service.
; This generates additional memory load for the Prometheus server, and will end
; up using more disk space over time.
prometheus.perfhistograms=true

[protocol]
; Allow channels larger than 0.16 BTC
protocol.wumbo-channels=true

[Bitcoind]
bitcoind.rpchost={{BITCOIN_IP}}:{{BITCOIN_RPC_PORT}}
bitcoind.rpcuser={{BITCOIN_RPC_USER}}
bitcoind.rpcpass={{BITCOIN_RPC_PASS}}
bitcoind.zmqpubrawblock=tcp://{{BITCOIN_IP}}:{{BITCOIN_ZMQ_RAWBLOCK_PORT}}
bitcoind.zmqpubrawtx=tcp://{{BITCOIN_IP}}:{{BITCOIN_ZMQ_RAWTX_PORT}}

[Bitcoin]
bitcoin.active=1
bitcoin.{{BITCOIN_NETWORK}}=1
# Default to neutrino as the node is 
# automatically switched to bitcoind once
# IBD is complete
bitcoin.node=neutrino
bitcoin.defaultchanconfs=2
bitcoin.basefee=0

{% set testnet = "testnet" %}
{% if BITCOIN_NETWORK == testnet %}
[neutrino]
neutrino.addpeer=testnet1-btcd.zaphq.io
neutrino.addpeer=testnet2-btcd.zaphq.io
{% endif %}

; Enable watchtower to watch other nodes
[watchtower]
watchtower.active=1

; activate watchtower client so we can get get other servers
; to make sure no one steals our money
[wtclient]
wtclient.active=1

[tor]
tor.active=1
tor.control={{APP_LND_TOR_IP}}:29051
tor.socks={{APP_LND_TOR_IP}}:9050
tor.targetipaddress={{APP_LND_SERVICE_IP}}
tor.password={{tor_password}}
tor.v3=1
tor.streamisolation=false
tor.skip-proxy-for-clearnet-targets=true

[bolt]
db.bolt.auto-compact=true
db.bolt.auto-compact-min-age=0
